@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .95em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2%;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: .85em;
  letter-spacing: .1em;
  padding: 3%;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 6em;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: .3em;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 1em 0 2em 2.5em;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    width: calc(50% - 2.5em);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 2%;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 35em;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 6em;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 1em;
}
.filter-options select {
  background-color: white;
  border: .03em solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  height: 2em;
  letter-spacing: 0;
  margin: 1em;
  padding: 0 1em;
  width: 12em;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 3em 2em 5em;
  text-align: center;

  /*  Responsive positioning*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: .15em solid #ccc;
  font-family: Arial,sans-serif;
  position: relative;
  margin: 1.2em;
  min-height: 25em;
  padding: 0 0 2em;
  text-align: center;
  width: 20em;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 15em;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1em 0 .5em;
  text-transform: uppercase;
}
#restaurants-list h3 {
  font-style: normal;
  font-weight: normal;
  margin: 0 1em;
  font-size: 1em;
}
#restaurants-list address {
  font-style: normal;
  margin: 0 1em;
  font-size: 1em;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: .2em solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin-top: .6em;
  left: 50%;
  padding: .5em 2em .5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 6em;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  padding: 1em 0 2em 2.5em;
  bottom: 0;
  position: absolute;
  width: calc(50% - 2.5em);
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: .5em 0 1em;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.2em;
  margin: .7em 0;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: .5em;
  margin: 0 0 1.3em;
  padding: .2em 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: .01em solid #d9d9d9;
  border-top: .01em solid #fff;
  padding: 11em 3.2em 4em;
  width: 46%;
}
#reviews-container {
  padding: 2.5em 3em 6.5em;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: -.05em;
  padding-bottom: .05em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: .01em solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 2.4em;
  overflow: hidden;
  padding: 2.2em;
  position: relative;
  width: 80%;
}
#reviews-list li p {
  margin: 0;
}
#restaurant-hours td {
  color: #666;
}

@media only screen and (max-device-width: 900px) {
  #maincontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .inside #map-container {
    position: relative;
    width: 100%;
    height: 20em;
    z-index: 0;

    order: 2;
  }
  #breadcrumb {
    width: 100%;
  }
  #restaurant-container {
    width: 100%;
  }
  #reviews-container {
    position: relative;
    padding-top: 10em;
    width: 100%;
    order: 3;
  }
  .inside #footer {
    width: 100%;
  }
}
