:root {
  --light-background: rgba(255, 255, 255, 1);
  --dark-background: rgba(0, 0, 0, 1);
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, embed,
object, video {
  max-width: 100%;
}

body {
  margin: 0;
  background: var(--dark-background);
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

/* Navigation Styles */
header {
  background: var(--dark-background);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.logo {
  /*change margin/spacing if needed*/
}

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid #ffffff;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #ffffff;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  width: 100%;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--dark-background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  top: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 0;
}

nav a {
  position: relative;
  padding: .5em 1em .5em 1em;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #ffffff;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1)
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*Hero Styles*/
.hero::before {
  background-image: url(https://images.pexels.com/photos/2120101/pexels-photo-2120101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-inner {
  display: flex;
  flex-flow: row wrap;
}

.hero-text-block {
  padding: 4em 2em 0em 2em;
}

.hero-intro {
  margin-left: -10px;
  font-family: 'Montserrat', sans-serif;
  color: #862121;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: 1rem;
}

.hero-inner h3::before {
  display: inline-block;
  margin-right: .5em;
  height: 3px;
  vertical-align: 25%;
  content: " ";
  text-shadow: none;
  background-color: #862121;
  width: 2.5em;
}

.hero-banner {
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
  font-size: 2.6em;
  line-height: 1.2em;
  margin-top: 0;
  letter-spacing: -.05rem;
}

.hero-banner-break {
  display: none;
}

.hero-inner .btn {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
  padding: 1em;
  margin: 0em 5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
}

/* About Styles */
.section-main {
  padding-top: 1.2em;
  background: var(--light-background);
}

.section-header {
  margin: 4em 0;
  padding: 1em;
  text-align: center;
}

.section-header:after {
  display: inline-block;
  height: 1px;
  content: " ";
  background-color: rgba(0, 0, 0, .1);
  width: 15em;
  margin-top: 4em;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  color: #862121;
  text-align: center;
  margin-bottom: 0;
}

.section-banner {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.9em;
  text-align: center;
  margin-top: 0;
}

.section-blurb {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  line-height: 1.75em;
  margin: .5em;
}

.section-description {
  font-family: 'Libre Baskerville', serif;
  color: #5f5f5f;
  font-size: .95em;
  line-height: 1.75em;
  margin: 0 2em 0;
  padding-bottom: 2em;
}

#projects .section-main {
  background: var(--dark-background);
}

#projects .section-banner {
  color: #ffffff;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
}

.content-container > * {
  margin: 1.5em;
}

#projects .section-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#projects .section-header:after {
  display: none;
}

.card {
  background-color: #ffffff;
  width: 240px;
  height: 300px;
}

.card-image-container {
  width: 240px;
  height: 240px;
}

.card-header {
  text-align: center;
}

.card-header a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000000;
}

.card-image {
  display: block;
  margin: auto;
}

.soon {
  position: relative;
  text-align: center;
}

.soon h2 {
  position: absolute;
  top: 15px;
  right: 0px;
  left: 0px;
}
.soon img {
  opacity: .5;
}

#image-1 {
  display: block;
  padding-top: 4em;
}

#contact .btn {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
  padding: 1em;
  margin: 0em 5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
}

#contact .section-content {
  margin: 0 auto 20em;
  text-align: center;
}

/*TODO: Add smaller breakpoints and minor break point for banner font*/
/*TODO: navbar justify content space-around for medium screen*/
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: .25fr auto minmax(600px, 3fr) .25fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-bottom: 0;
  }

  nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #ffffff;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1)
  }

  /* Hero Banner Break */
  .hero-banner {
    font-size: 4em;
    margin-bottom: 0;
  }
  .hero-banner-break {
    display: block !important;
  }

  .hero-inner {
    width: 100%;
    justify-content: space-around;
    margin: 5em;
  }

  .hero-inner .btn {
    flex-grow: 0;
    align-self: flex-end;
    margin-top: 1em;
  }

  .section-main {
    padding: 5em 0;
  }

  .section-header {
    padding: 1em;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-title {
    font-size: 2em;
    margin-bottom: 0;
  }

  .section-banner {
    font-size: 2.3em;
  }

  .section-blurb {
    font-size: 1.25em;
    line-height: 1.75em;
    margin: 3em 0 0 0;
  }

  .section-description {
    font-size: 1.1em;
    line-height: 1.75em;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
  }

  .section-header:after {
    width: 25em;
  }
}

@media screen and (min-width: 1100px) {

  #card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10em;
    justify-items: center;
  }
}
