:root {
  --light-background: rgba(255, 255, 255, .9);
  --dark-background: rgba(0, 0, 0, 1);
}

section {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, embed,
object, video {
  max-width: 100%;
}

body {
  margin: 0;
  background: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

/* Navigation Styles */
header {
  background: var(--dark-background);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.logo {
  /*change margin/spacing if needed*/
}

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid white;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  width: 100%;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--dark-background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  top: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 0;
}

nav a {
  position: relative;
  padding: .5em 1em .5em 1em;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1)
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*Hero Styles*/
.hero::before {
  background-image: url(https://images.pexels.com/photos/2120101/pexels-photo-2120101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-inner {
  display: flex;
  flex-flow: row wrap;
}

.hero-text-block {
  padding: 4em 2em 0em 2em;
}

.hero-intro {
  margin-left: -10px;
  font-family: 'Montserrat', sans-serif;
  color: #862121;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: 1rem;
}

.hero-inner h3::before {
  display: inline-block;
  margin-right: .5em;
  height: 3px;
  vertical-align: 25%;
  content: " ";
  text-shadow: none;
  background-color: #862121;
  width: 2.5em;
}

.hero-banner {
  font-family: 'Libre Baskerville', serif;
  color: #FFFFFF;
  font-size: 2.6em;
  line-height: 1.2em;
  margin-top: 0;
  letter-spacing: -.05rem;
}

.hero-banner-break {
  display: none;
}

.hero-inner .btn {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
  padding: 1em;
  margin: 0em 5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

/*TODO: Add smaller breakpoints and minor break point for banner font*/
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: .25fr auto minmax(600px, 3fr) .25fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-bottom: 0;
  }

  nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1)
  }

  /* Hero Banner Break */
  .hero-banner {
    font-size: 4em;
    margin-bottom: 0;
  }
  .hero-banner-break {
    display: block !important;
  }

  .hero-inner {
    width: 100%;
    justify-content: space-around;
    margin: 5em;
  }

  .hero-inner .btn {
    flex-grow: 0;
    align-self: flex-end;
    margin-top: 1em;
  }
}


