html {
  height: 100vh;
  text-align: center;
  background-color: #408c99;
}

canvas {
  margin-top: -35px;
  margin-bottom: -35px;
}

.game-grid {
  display: flex;
  justify-content: space-around;
}

.game-grid__score {
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;

}

.game-grid__game-canvas {
}

.game-grid__leaderboard-section {
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;

}
.game-grid__leaderboard-coming-soon {
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;

  flex
}
